body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

/* fixed positioned page header */
.page-header {
  border-bottom: 1px rgb(190, 190, 190) solid;
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  right: 0;
  height: 42px;
  padding: 0 15px;
}

/* nav grid container */
.page-header-nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr repeat(2, auto);
  justify-items: center;
  align-content: center;
  height: 42px;
}

/* nav grid list container */
.page-header-nav li {
  border-radius: 5px;
  display: grid;
  margin: 0 5px;
  height: 32px;
  text-transform: uppercase;
  align-content: center;
}

.page-header-nav .left-nav-icon {
  height: 16px;
  margin-top: 3px;
  padding: 8px;
  border-radius: 5px;
}

.page-header-nav .left-nav-icon:hover {
  background: rgb(240, 240, 240);
}

.page-header-nav .space-and-cosmos {
  color: black;
  text-decoration-line: none;
  padding: 7px;
  font-weight: bold;
  font-size: 14.25px;
}

.page-header-nav .space-and-cosmos:hover {
  text-decoration-line: underline;
}

/* header heading */
.page-header-heading {
  height: 26px;
  width: 195px;
  margin-top: 6px;
}

.right-nav-icon {
  background: #6288a5;
  border: 1px solid rgb(50, 104, 145);
  font-size: 11px;
  font-weight: 900;
}

.right-nav-icon a {
  color: #fff;
  line-height: 32px;
  padding: 0 10px;
  text-decoration-line: none;
}

.right-nav-icon a:hover {
  background: #326891;
}

/* main */
main {
  margin-top: 42px;
}

/* bottom fixed positioned section */
.fixed-bottom-prompt {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px black solid;
}

.fixed-bottom-prompt a {
  height: 55px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column; 
  align-items: center;
  font-size: 15px;
  text-decoration-line: none;
  color: black;
}

.fixed-bottom-prompt a span {
  text-align: center;
}

.fixed-bottom-prompt a span:nth-child(1) {
  margin-right: -100px;
}

.fixed-bottom-prompt a span:nth-child(2) {
  margin-right: 100px;
}

/* page footer */
.page-footer {
  border-top: 1px rgb(226, 226, 226) solid;
  margin-bottom: 55px;
}

.page-footer-nav {
  margin: 0 75px;
}

.page-footer-nav::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: 2px rgb(226, 226, 226) solid;
  border-bottom: 1px rgb(226, 226, 226) solid;
}

/* page footer nav header */
.page-footer-nav-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}

.page-footer-nav-header::before {
  border: 10px black solid;
}

.page-footer-nav-header > * {
  font-size: 11px;
  color: rgb(98, 136, 165);
  text-decoration-line: none;
}

.page-footer-nav-links-container {
  display: grid;
}

/* page footer links lists */
.page-footer-nav-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 13px;
  border-bottom: 1px rgb(230, 230, 230) solid;
}

.page-footer-nav-links h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-footer-nav-links a {
  display: block;
  padding:5px 0;
  color: black;
  text-decoration-line: none;
}

.page-footer-nav-links a:hover {
  color: black;
  text-decoration-line: underline;
}

/* subscribe section */
.subscribe-section {
  padding-left: 15px;
  margin-bottom: 10px;
  border-left: 1px rgb(204, 204, 204) solid;
  font-size: 11px;
}

.subscribe-section-list li:nth-of-type(-n+4) {
  font-size: 16px;
  padding-left: 20px;
  font-weight: bold;
}

.subscribe-section-list li:nth-of-type(1) {
  background: url("../images/home_delivery.svg") left center no-repeat;
  background-size: 13px;
}

.subscribe-section-list li:nth-of-type(2) {
  background: url("../images/digital_subscriptions.svg") left center no-repeat;
  background-size: 13px;
}

.subscribe-section-list li:nth-of-type(3) {
  background: url("../images/crossword.svg") left center no-repeat;
  background-size: 13px;
}

.subscribe-section-list li:nth-of-type(4) {
  background: url("../images/cooking.svg") left center no-repeat;
  background-size: 13px;
  margin-bottom: 15px;
}

.subscribe-section-list-2 {
  border-top: 1px rgb(204, 204, 204) solid;
  margin-top: 5px;
  padding-top: 5px;
}

/*footer of page footer */
.page-footer-footer ul {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 15px 0 25px 0;
  font-size: 11px;
}

.page-footer-footer li {
  margin: 0 10px 0 10px;
}

.page-footer-footer a {
  color: #999999;
  text-decoration-line: none;
}

.page-footer-footer a:hover {
  text-decoration-line: underline;
}