body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  box-sizing: border-box;
}

/* bold titles */
.section-title {
  font-weight: bold;
}

/* fixed positioned page header */
.page-header {
  border-bottom: 1px rgb(190, 190, 190) solid;
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  right: 0;
  height: 42px;
  padding: 0 15px;
  z-index: 1;
}

/* nav grid container */
.page-header-nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr repeat(2, auto);
  justify-items: center;
  align-content: center;
  height: 42px;
}

/* nav grid list container */
.page-header-nav li {
  border-radius: 5px;
  display: grid;
  margin: 0 5px;
  height: 32px;
  text-transform: uppercase;
  align-content: center;
}

.page-header-nav .left-nav-icon {
  height: 16px;
  margin-top: 3px;
  padding: 8px;
  border-radius: 5px;
}

.page-header-nav .left-nav-icon:hover {
  background: rgb(240, 240, 240);
}

.page-header-nav .space-and-cosmos {
  color: black;
  text-decoration-line: none;
  padding: 7px;
  font-weight: bold;
  font-size: 14.25px;
}

.page-header-nav .space-and-cosmos:hover {
  text-decoration-line: underline;
}

/* header heading */
.page-header-heading {
  height: 26px;
  width: 195px;
  margin-top: 6px;
}

.right-nav-icon {
  background: #6288a5;
  border: 1px solid rgb(50, 104, 145);
  font-size: 11px;
  font-weight: 900;
}

.right-nav-icon a {
  color: #fff;
  line-height: 32px;
  padding: 0 10px;
  text-decoration-line: none;
}

.right-nav-icon a:hover {
  background: #326891;
}

/* main */
main {
  margin-top: 42px;
}

main p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: 'Times New Roman', Times, serif;
}

.end-of-article-info {
  font-size: 0.65rem;
  line-height: 1rem;
  color: #666;
}

.end-of-article-info a {
  color: #666;
}

.end-of-article-info a:hover {
  text-decoration-line: none;
}

/* bottom fixed positioned section */
.fixed-bottom-prompt {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px black solid;
}

.fixed-bottom-prompt a {
  height: 55px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column; 
  align-items: center;
  font-size: 15px;
  text-decoration-line: none;
  color: black;
}

.fixed-bottom-prompt a span {
  text-align: center;
}

.fixed-bottom-prompt a span:nth-child(1) {
  margin-right: -100px;
}

.fixed-bottom-prompt a span:nth-child(2) {
  margin-right: 100px;
}

/* page footer */
.page-footer {
  border-top: 1px rgb(226, 226, 226) solid;
  margin-bottom: 55px;
}

.page-footer-nav {
  margin: 0 75px;
}

.page-footer-nav::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: 2px rgb(226, 226, 226) solid;
  border-bottom: 1px rgb(226, 226, 226) solid;
}

/* page footer nav header */
.page-footer-nav-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}

.page-footer-nav-header::before {
  border: 10px black solid;
}

.page-footer-nav-header > * {
  font-size: 11px;
  color: rgb(98, 136, 165);
  text-decoration-line: none;
}

.page-footer-nav-links-container {
  display: grid;
}

/* page footer links lists */
.page-footer-nav-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 13px;
  border-bottom: 1px rgb(230, 230, 230) solid;
}

.page-footer-nav-links h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-footer-nav-links a {
  display: block;
  padding:5px 0;
  color: black;
  text-decoration-line: none;
}

.page-footer-nav-links a:hover {
  color: black;
  text-decoration-line: underline;
}

/* subscribe section */
.subscribe-section {
  padding-left: 15px;
  margin-bottom: 10px;
  border-left: 1px rgb(204, 204, 204) solid;
  font-size: 11px;
}

.subscribe-section-list li:nth-of-type(-n+4) {
  font-size: 16px;
  padding-left: 20px;
  font-weight: bold;
}

.subscribe-section-list li:nth-of-type(1) {
  background: url("../images/home_delivery.svg") left center no-repeat;
  background-size: 13px;
}

.subscribe-section-list li:nth-of-type(2) {
  background: url("../images/digital_subscriptions.svg") left center no-repeat;
  background-size: 13px;
}

.subscribe-section-list li:nth-of-type(3) {
  background: url("../images/crossword.svg") left center no-repeat;
  background-size: 13px;
}

.subscribe-section-list li:nth-of-type(4) {
  background: url("../images/cooking.svg") left center no-repeat;
  background-size: 13px;
  margin-bottom: 15px;
}

.subscribe-section-list-2 {
  border-top: 1px rgb(204, 204, 204) solid;
  margin-top: 5px;
  padding-top: 5px;
}

/*footer of page footer */
.page-footer-footer ul {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 15px 0 25px 0;
  font-size: 11px;
}

.page-footer-footer li {
  margin: 0 10px 0 10px;
}

.page-footer-footer a {
  color: #999999;
  text-decoration-line: none;
}

.page-footer-footer a:hover {
  text-decoration-line: underline;
}

/* main article */
main article {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-column-gap: 10px;
}

main article > * {
  grid-column: 2 / -2;
  /* border: 1px black solid; */
  margin: 10px 0;
}

main h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

/* cosmos super jumbo image */
.cosmos-super-jumbo-img {
  grid-column: 1 / -1;
  font-family: nyt-imperial,georgia, 'times new roman', times, serif;
  font-size: 15px;
  line-height: 18px;
  color: #666;
  width: 100%;
}

.cosmos-super-jumbo-img figure {
  width: 70%;
  margin: 0 auto;
}

.cosmos-super-jumbo-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px;
}

.cosmos-super-jumbo-img figcaption {
  width: 85%;
}

.cosmos-super-jumbo-img .photographer {
  font-size: 12px;
  color: #888;
}

.author {
  font-size: 15px;
  font-weight: bold;
}

.author a {
  text-decoration-line: none;
  border-bottom: 1px rgb(201, 201, 201) solid;
  color: black;
}

.author a:hover {
  border-bottom: none;
}

/* inflation image */
.inflation-img {
  grid-column: 1 / -1;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 15px;
  width: 100%;
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.inflation-img-text-section-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  width: 100%;
  bottom: 300px;
}

.inflation-img-text-section-1 h4 {
  font-weight: bold;
  display: inline;
  font-size: 11px;
}

.inflation-img-text-section-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  width: 100%;
  bottom: 35px;
}

.inflation-img-text-section-2 h4 {
  font-weight: bold;
  display: inline;
  font-size: 11px;
}

.inflation-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.inflation-img figcaption {
  width: 85%;
}

.inflation-img .photographer {
  font-size: 12px;
}

/* stanford video */
.stanford-video figcaption {
  font-size: 15px;
  color: #666;
}

.stanford-video figcaption div {
  font-size: 12px;
  color: #888;
}

/* bicep2 telescope */
.bicep-2-telescope-img {
  font-family: nyt-imperial,georgia, 'times new roman', times, serif;
  font-size: 15px;
  width: 100%;
  color: #888;
}

.bicep-2-telescope-img img {
  width: 100%;
}


.bicep-2-telescope-img figcaption div {
  font-size: 12px;
  color: #888;
}

.speech-bubble {
  display: inline-block;
  width: 40px;
  margin: 50px auto;
  border: 4px solid #00bfb6;
  padding: 5px;
  text-align: center;
  font-weight: 900;
  color: black;
  font-family: arial;
  position:relative;
}

.link-icons {
  height: 15px;
  width: 15px;
}

/* bottom-of-article */
.bottom-of-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column; 
}

.bottom-of-article button:first-of-type {
  width: 100%;
  padding: 10px 0;
  background: rgb(98, 136, 165);
  border-radius: 5px;
  border: 1px rgb(50, 104, 145) solid;
  color: #fff;
  font-weight: bold;
  
}

.bottom-of-article button:first-of-type:hover {
  background: rgb(50, 104, 145);
  cursor: pointer;
}

/* social media links */
.social-media-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column; 
  font-size: 13px;
}

.social-media-links span {
  font-style: italic;
  display: flex;
  align-items: center;
}

.social-media-links div:nth-of-type(1) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-media-links div:nth-of-type(1) a:nth-child(-n + 4) {
  padding: 5px 6px;
  margin-left: 13px;
  background: rgb(204, 204, 204);
  border: 1px rgb(204, 204, 204) solid;
  border-radius: 20px;
}

.social-media-links a:nth-child(n + 5) {
  padding: 0 6px;
  margin-left: 5px;
  border: none;
  background: white;
}

.social-media-links div:nth-of-type(1) a:hover {
  background: #fff;
}

.social-media-links > * {
  /* border: 1px solid black; */
}

/* bookmark icon */
.bookmark {
  height: 23px;
  weight: 23px;
  border: none;
}

/* sign up right side link */
.sign-up-right-side {
  display: grid;
  grid-column: -2 / -1;
  grid-row: span 2;
  justify-items: center;
  align-items: center;
}

.sign-up-right-side-container {

  width: 50%;
}

.sign-up-right-side h2 {
  font-weight: bold;
}

.sign-up-right-side small {
  font-size: 13px;
  display: block;
}

.sign-up-right-side small:nth-child(2) {
  color: grey;
}

.sign-up-right-side-container > * {
  padding: 5px 0;
}

.sign-up-right-side a {
  display: block;
  background: rgb(98, 136, 165);
  padding: 10px;
  text-align: center;
  text-decoration-line: none;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
}

.sign-up-right-side a:hover {
  background: rgb(50, 104, 145);
  cursor: default;
}

/* editors picks right side */
.editors-picks-right-side {
  grid-column: -2 / -1;
  grid-row: span 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.editors-picks-right-side-container {
  width: 60%;
}

.editors-picks-right-side-container ul {
  margin-top: 5px;
  border-top: 1px rgb(201, 201, 201) solid;
}

/* editor-pic right side */
.editors-pics-right-side {
  height: 75px;
  width: 75px;
  padding-right: 10px;
}

.editors-picks-right-side a {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 10px;
}

.editors-picks-right-side-container h2 {
  font-weight: bold;
}

.editors-picks-right-side-container ul li:last-child {
  background: rgb(211, 211, 211);
  font-size: 10px;

}

.editors-picks-right-side h3 {
  width: auto;
}

/* create account prompt center grid */
.create-account-center-prompt {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  position: relative;
  height: 100px;
}

.create-account-center-prompt .background-square {
  position: absolute;
  background: yellowgreen;
  height: 65px;
  width: 65px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 1px rgb(204, 204, 204) solid;
  border-bottom: 1px rgb(204, 204, 204) solid;
  background: transparent;
}


.create-account-center-prompt-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.create-account-center-prompt div:first-child {

}

.create-account-center-prompt-content div:last-child {
  color: rgb(50, 104, 145);
}

/* svg icons on hover */
svg:hover {
  filter: invert(87%) sepia(0%) saturate(3%) hue-rotate(140deg) brightness(93%) contrast(90%);
}

/*
.speech-bubble:before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: 150px;
  bottom: -20px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid white;
  border-top: 7px solid white;
  border-bottom: 7px solid transparent;
  right: 152px;
  bottom: -14px;
}
*/


/* 
Outer Grid Container
  2fr ad section
    grid container 3 columns, 2 rows

    Editors Picks- 3 columns, 1 row

  1fr side most popular section
    Most Popular List

*/

.article-suggestions {

  display: grid;
  grid-column-gap: 25px;
  padding: 0 70px;
  grid-template-columns: 2fr 1fr;
}

.related-suggestions {
  border-top: 1px black solid;
}

.related-suggestions img {
  height: 184px;
  width: 100%;
}

.related-suggestions time {
  color: rgb(155, 155, 155);
  font-size: 12px;
}

/* climate change image */
.related-suggestions .climate-change-paid-post img:last-child {
  height: 25px;
  width: 80px;
}

.related-suggestions .climate-change-paid-post {
  background: rgb(212, 212, 212);
}

.related-suggestions h2 {
  font-size: 18px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  line-height: 20px;
}

.related-suggestions h5 {
  font-weight: bold;
  margin: 15px 0;
}

.related-suggestions h5 a {
  color: black;
  text-decoration-line: none;
}

.related-suggestions h5 a:hover {
  text-decoration-line: underline;
}

.most-popular {
  border-top: 1px black solid;
  padding-right: 100px;
}

.most-popular h5 {
  font-weight: bold;
  margin-top: 15px;
}

.most-popular > a {
  display: block;
  font-size: 18px;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px rgb(202, 202, 202) solid;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  line-height: 22px;
  color: black;
  font-weight: 500;
  text-decoration-line: none;
}

.most-popular > a:hover {
  color: grey;
}

.space-and-cosmos-suggestions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.space-and-cosmos-suggestions a {
  text-decoration-line: none;
}

.space-and-cosmos-suggestions a {
  color: black;
}

.space-and-cosmos-suggestions a:hover {
  color: rgb(168, 168, 168);
}

.space-and-cosmos-suggestions figcaption {
  color: grey;
  font-size: 10px;
  text-align: right;
}

.related-suggestions .climate-change-paid-post figcaption {
  text-align: left;
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-decoration-line: none;
}

.related-suggestions .climate-change-paid-post h2 {
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-decoration-line: none;
}

.space-and-cosmos-suggestions > * {
  margin-bottom: 50px;
  padding-bottom: 10px;
}

/* editors picks bottom */
.editors-picks-bottom {
  border-top: 1px black solid;
  margin-top: 10px;
}

.editors-picks-bottom a {
  text-decoration-line: none;
}

.editors-picks-bottom a h2 {
  color: black;
}

.editors-picks-bottom figcaption {
  font-size: 10px;
  color: grey;
  text-align: right;
}

.editors-picks-bottom h2:hover {
  color: grey;
}

.editors-picks-bottom-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 15px;
}

.editors-picks-bottom-container > * {
  padding-bottom: 10px;
}

.editors-picks-bottom-container img[alt="modern love"] {
  margin-bottom: 10px;
}
